Incident_Report_v2_20220516083417/Microsoft.Flow/flows/3af1820c-718d-4b03-bf7f-ba161b8d12f5/definition.json
{
  "name": "f72334ac-3b8a-4b52-a3a9-b5a631f212af",
  "id": "/providers/Microsoft.Flow/flows/f72334ac-3b8a-4b52-a3a9-b5a631f212af",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Incident Report Forms Data to Sharepoint",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "creator": {
          "id": "260426cf-4b4b-4b80-b729-63d707eb6740",
          "type": "User",
          "tenantId": "c0f51ac5-04cc-4792-88e1-a859a740e5df"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2022-05-16T07:32:59.9011516Z"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "metadata": {
            "operationMetadataId": "0212ebed-4a31-4670-ad57-16408ae70432"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook"
            },
            "parameters": {
              "form_id": "xRr1wMwEkkeI4ahZp0Dl388mBCZLS4BLtylj1wfrZ0BURUNPUDNYNjJXM1JJVTJMMjJLMFpSN0ZQSC4u"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Apply_to_each": {
          "foreach": "@triggerOutputs()?['body/value']",
          "actions": {
            "Get_response_details": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "03d6636f-a59a-41d4-9283-90bd4343dfcf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
                  "connectionName": "shared_microsoftforms",
                  "operationId": "GetFormResponseById"
                },
                "parameters": {
                  "form_id": "xRr1wMwEkkeI4ahZp0Dl388mBCZLS4BLtylj1wfrZ0BURUNPUDNYNjJXM1JJVTJMMjJLMFpSN0ZQSC4u",
                  "response_id": "@items('Apply_to_each')?['resourceData/responseId']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_item": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "afb271fd-148d-48a0-9da7-93f66fc10425"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem"
                },
                "parameters": {
                  "dataset": "https://ndestates.sharepoint.com/sites/HSE",
                  "table": "b2f3b34f-274f-4ac5-acf1-6cd763250e68",
                  "item/Title": "@outputs('Get_response_details')?['body/r96ee5f581a6345938230a9818a523523']",
                  "item/Description": "@outputs('Get_response_details')?['body/rb6fc57714f3f45dcb5b43f74a03b9b58']",
                  "item/IncidentDate": "@outputs('Get_response_details')?['body/rcb7721ce12d84b69834f1b27768c0ba2']",
                  "item/Category/Value": "@outputs('Get_response_details')?['body/r432c2f02acd74e4f9ad41b3187076bf0']",
                  "item/Location/Value": "@outputs('Get_response_details')?['body/rc16c05c9588c418db5a0323e4c0384fc']",
                  "item/SubmitterEmail": "@outputs('Get_response_details')?['body/responder']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_attachment": {
              "foreach": "@variables('varFiles')",
              "actions": {
                "Get_file_content": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1613264c-2b07-42e2-93c6-0dd5c724ce65"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                      "connectionName": "shared_onedriveforbusiness",
                      "operationId": "GetFileContent"
                    },
                    "parameters": {
                      "id": "@item()?['id']",
                      "inferContentType": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_attachment": {
                  "runAfter": {
                    "Get_file_content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c0cdbb7e-6416-4147-816b-788529691871"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "CreateAttachment"
                    },
                    "parameters": {
                      "dataset": "https://ndestates.sharepoint.com/sites/HSE",
                      "table": "b2f3b34f-274f-4ac5-acf1-6cd763250e68",
                      "itemId": "@outputs('Create_item')?['body/ID']",
                      "displayName": "@item()?['name']",
                      "body": "@body('Get_file_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_file": {
                  "runAfter": {
                    "Add_attachment": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8b453b53-2bb8-4126-8b9e-a094144f3693"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "CreateFile"
                    },
                    "parameters": {
                      "dataset": "https://ndestates.sharepoint.com/sites/HSE",
                      "folderPath": "/Incident",
                      "name": "@{guid()}@{items('Apply_to_each_attachment')?['name']}",
                      "body": "@body('Get_file_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Update_file_properties_2": {
                  "runAfter": {
                    "Create_file": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "258e45d8-f259-413f-b212-3238fd65e0da"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchFileItem"
                    },
                    "parameters": {
                      "dataset": "https://ndestates.sharepoint.com/sites/HSE",
                      "table": "a569c7ee-9baa-429d-a615-e06c4bb02a25",
                      "id": "@outputs('Create_file')?['body/ItemId']",
                      "item/IncidentID": "@outputs('Create_item')?['body/ID']",
                      "item/Category/Value": "@if(equals(item()?['referenceId'],'01S76IP3OXS3YH6BVT3VFIUISAXDXXFH6O'),'Photos','Additional Documents')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_file_2": {
                  "runAfter": {
                    "Update_file_properties": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f448e76a-e2e8-4659-aa79-4ea54e1e4391"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "CreateFile"
                    },
                    "parameters": {
                      "dataset": "https://ndestates.sharepoint.com/sites/HSE",
                      "folderPath": "@concat('/Incident_Files/', if(equals(item()?['referenceId'],'01S76IP3OXS3YH6BVT3VFIUISAXDXXFH6O'),'Photos','Additional Documents'))",
                      "name": "@{guid()}@{items('Apply_to_each_attachment')?['name']}",
                      "body": "@body('Get_file_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                }
              },
              "runAfter": {
                "Create_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "54f030bd-f269-4637-a247-916f3650cb65"
              },
              "type": "Foreach"
            },
            "Set_variable": {
              "runAfter": {
                "Get_response_details": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5df21097-6daf-462d-8008-f08335d9a3c6"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varFiles",
                "value": "@json(outputs('Get_response_details')?['body/rd4dea5e368d54a0e90a0ccd6f5a79b7f'])"
              }
            },
            "Condition": {
              "actions": {
                "Apply_to_each_2": {
                  "foreach": "@json(outputs('Get_response_details')?['body/r49df111ef8684712bd3c1ed1edb84f46'])",
                  "actions": {
                    "Append_to_array_variable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3356f3e5-47dc-4b0d-a709-3eaca9c0910d"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varFiles",
                        "value": "@item()"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c97f5a73-e6d2-4586-a50c-a121a59cee7f"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@json(outputs('Get_response_details')?['body/r49df111ef8684712bd3c1ed1edb84f46'])",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "77b2b36b-f2cf-45ca-9640-9105b76e5d5f"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "26f5b9af-6d5e-4953-aa1d-991b2fa0e6bf"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d16dd052-3e6f-43d3-ae71-522ebe7e0828"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFiles",
                "type": "array"
              }
            ]
          }
        }
      },
      "outputs": {},
      "description": "Record form responses in SharePoint"
    },
    "connectionReferences": {
      "shared_microsoftforms": {
        "connectionName": "shared-microsoftform-03bda0ee-ce61-489e-bb31-76ce-bec6bb0f",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
        "tier": "NotSpecified"
      },
      "shared_sharepointonline": {
        "connectionName": "0c7f7450dfc5495795a04f0d1577bed1",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified"
      },
      "shared_onedriveforbusiness": {
        "connectionName": "shared-onedriveforbu-22311a77-23ff-4d53-9372-264f8fbbbebb",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
        "tier": "NotSpecified"
      }
    },
    "flowFailureAlertSubscribed": false
    "isManaged": false
  }
}
