backup/IncidentReportFormsdatatoSharePoint_20220314000851/Microsoft.Flow/flows/524dbc2d-38ac-4d83-902b-989c7cfb95db/definition.json
{
  "name": "51e873f3-b2d4-43da-9b68-a72c7218d733",
  "id": "/providers/Microsoft.Flow/flows/51e873f3-b2d4-43da-9b68-a72c7218d733",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Incident Report Forms data to SharePoint",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "creator": {
          "id": "ddc02d42-c492-454d-94ce-778a07b5b8c6",
          "type": "User",
          "tenantId": "07446956-493d-42c8-ad05-e939cb52153f"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2022-03-11T23:12:01.0115711Z"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "metadata": {
            "operationMetadataId": "1b300f27-c3f4-4fa1-9fb1-741c50484c20"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook"
            },
            "parameters": {
              "form_id": "VmlEBz1JyEKtBek5y1IVP0ItwN2SxE1FlM53ige1uMZUMVFYOEpOR05RU05KM0NUMFhFWFZQMTdMMi4u"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Apply_to_each": {
          "foreach": "@triggerOutputs()?['body/value']",
          "actions": {
            "Get_response_details": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3942955e-c353-4001-8fa3-a159a0335ef9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
                  "connectionName": "shared_microsoftforms",
                  "operationId": "GetFormResponseById"
                },
                "parameters": {
                  "form_id": "VmlEBz1JyEKtBek5y1IVP0ItwN2SxE1FlM53ige1uMZUMVFYOEpOR05RU05KM0NUMFhFWFZQMTdMMi4u",
                  "response_id": "@items('Apply_to_each')?['resourceData/responseId']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_item": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76a5f634-39e7-43fa-bbab-0d295b4b239d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem"
                },
                "parameters": {
                  "dataset": "https://thepoweraddicts.sharepoint.com/sites/HSE",
                  "table": "6b8aac62-ce04-47f5-9030-0f73746c2f7e",
                  "item/Title": "@outputs('Get_response_details')?['body/r96ee5f581a6345938230a9818a523523']",
                  "item/Description": "@outputs('Get_response_details')?['body/rb6fc57714f3f45dcb5b43f74a03b9b58']",
                  "item/IncidentDate": "@outputs('Get_response_details')?['body/rcb7721ce12d84b69834f1b27768c0ba2']",
                  "item/Category/Value": "@outputs('Get_response_details')?['body/r432c2f02acd74e4f9ad41b3187076bf0']",
                  "item/Location/Value": "@outputs('Get_response_details')?['body/rc16c05c9588c418db5a0323e4c0384fc']",
                  "item/SubmitterEmail": "@outputs('Get_response_details')?['body/responder']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_attachment": {
              "foreach": "@variables('varFiles')",
              "actions": {
                "Get_file_content": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "bda35739-d913-401d-b271-1f5b1921383d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                      "connectionName": "shared_onedriveforbusiness",
                      "operationId": "GetFileContent"
                    },
                    "parameters": {
                      "id": "@item()?['id']",
                      "inferContentType": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_attachment": {
                  "runAfter": {
                    "Get_file_content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "00b7e937-093a-429a-8de8-fc7d059788c7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "CreateAttachment"
                    },
                    "parameters": {
                      "dataset": "https://thepoweraddicts.sharepoint.com/sites/HSE",
                      "table": "6b8aac62-ce04-47f5-9030-0f73746c2f7e",
                      "itemId": "@outputs('Create_item')?['body/ID']",
                      "displayName": "@item()?['name']",
                      "body": "@body('Get_file_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_file": {
                  "runAfter": {
                    "Add_attachment": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "99b6738d-fc50-41fe-8882-6c5b949f4138"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "CreateFile"
                    },
                    "parameters": {
                      "dataset": "https://thepoweraddicts.sharepoint.com/sites/HSE",
                      "folderPath": "/Incident Files",
                      "name": "@{guid()}@{items('Apply_to_each_attachment')?['name']}",
                      "body": "@body('Get_file_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Update_file_properties": {
                  "runAfter": {
                    "Create_file": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a88f0cc9-4d1c-46a5-aeec-0890804ebd26"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchFileItem"
                    },
                    "parameters": {
                      "dataset": "https://thepoweraddicts.sharepoint.com/sites/HSE",
                      "table": "748b85fb-a038-4910-ad4a-f7192a847db3",
                      "id": "@outputs('Create_file')?['body/ItemId']",
                      "item/IncidentID": "@outputs('Create_item')?['body/ID']",
                      "item/Category/Value": "@if(equals(item()?['referenceId'],'01O4KDJOUYGLAQAF3K2FHKZ55UM54YWD26'),'Photos','Additional Documents')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_file_2": {
                  "runAfter": {
                    "Update_file_properties": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f448e76a-e2e8-4659-aa79-4ea54e1e4391"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "CreateFile"
                    },
                    "parameters": {
                      "dataset": "https://thepoweraddicts.sharepoint.com/sites/HSE",
                      "folderPath": "@concat('/Incident Docs/', if(equals(item()?['referenceId'],'01O4KDJOUYGLAQAF3K2FHKZ55UM54YWD26'),'Photos','Additional Docs'))",
                      "name": "@{guid()}@{items('Apply_to_each_attachment')?['name']}",
                      "body": "@body('Get_file_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                }
              },
              "runAfter": {
                "Create_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "03375b18-f078-4cef-91c4-a16afb9ac54b"
              },
              "type": "Foreach"
            },
            "Set_variable": {
              "runAfter": {
                "Get_response_details": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1203a775-221c-4905-b5b7-f7d6aec4166d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varFiles",
                "value": "@json(outputs('Get_response_details')?['body/rd4dea5e368d54a0e90a0ccd6f5a79b7f'])"
              }
            },
            "Condition": {
              "actions": {
                "Apply_to_each_2": {
                  "foreach": "@json(outputs('Get_response_details')?['body/r49df111ef8684712bd3c1ed1edb84f46'])",
                  "actions": {
                    "Append_to_array_variable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "380b2f00-c0ce-4741-8917-c6b77c9fb42b"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varFiles",
                        "value": "@item()"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f16e318f-a3f7-4fc2-84b9-b04eac0be3f5"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@json(outputs('Get_response_details')?['body/r49df111ef8684712bd3c1ed1edb84f46'])",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "093fa6d0-2d4b-4235-a5cd-5849e39803e1"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5021efee-8967-42a0-bed1-c44bff5e38c7"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6885c89b-b835-4af1-9252-f2981e5d96f9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFiles",
                "type": "array"
              }
            ]
          }
        }
      },
      "outputs": {},
      "description": "Record form responses in SharePoint"
    },
    "connectionReferences": {
      "shared_microsoftforms": {
        "connectionName": "shared-microsoftform-da1798a8-b27c-42d1-8dbc-9a19c28b5f55",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
        "tier": "NotSpecified"
      },
      "shared_sharepointonline": {
        "connectionName": "a0ed098f502a4ca4bb59859b743dc374",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified"
      },
      "shared_onedriveforbusiness": {
        "connectionName": "shared-onedriveforbu-47057d18-78a8-4277-bb30-e11be90924e8",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
        "tier": "NotSpecified"
      }
    },
    "flowFailureAlertSubscribed": false
  }
}
